@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@500;600;700&display=swap");

:root {

  /*couleurs*/
  --header-height: 3rem;
  --hue-color: 190;
  --first-color: blue;
  --first-color-alt: hsl(var(--hue-color), 64%, 15%);
  --title-color: hsl(var(--hue-color), 64%, 18%);
  --text-color: hsl(var(--hue-color), 24%, 35%);
  --text-color-light: hsl(var(--hue-color), 8%, 60%);
  --input-color: hsl(var(--hue-color), 24%, 97%);
  --body-color: #d1d1d1;
  --white-color: white;
  --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 75%);

  /*---------polices et styles -------*/
  --body-font: 'Open Sans', sans-serif;
  --title-font: 'Raleway', sans-serif;
  --biggest-font-size: 2.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*style de la police*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*Margin en bas bottom */
  --mb-1: 1rem;
  --mb-1-25: 1.25rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;

}

@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*--------noyau--------*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1, h2, h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  font-family: var(--title-font);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

input {
  border: none;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

button {
  cursor: pointer;
}

input {
  outline: none;
}

/*-------------*/

.section {
  padding: 4.5rem 0 2.5rem;
}

.section__title {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  text-align: center;
  text-transform: capitalize;
  margin-bottom: var(--mb-2);
}

.container {
  max-width: 968px;
  margin-left: var(--mb-1);
  margin-right: var(--mb-1);
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/*---------- HEADER --------*/
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index:100;
  left: 0;
  right: 0;
  background-color: rgb(0 0 0 / 65%);
}

.header1{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index:100;
  left: 0;
  right: 0;
  background-color: #ffffff;  
}

.header1 nav a{
  color:black;
}

.header1 nav .nav__menu ul li a:hover{
  color:blue;
}

i.ri-function-line::before{
  color:black;
}


/*--------- NAV --------*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo, .nav__toggle {
  color: var(--white-color);
}

.nav__logo {
  font-weight: var(--font-semi-bold);
}

.nav__toggle {
  font-size: 1.2rem;
  cursor: pointer;
}


@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    background-color: var(--body-color);
    top: 0;
    right: -100%;
    width: 70%;
    height: 100%;
    box-shadow: -1px 0 4px rgba(14, 55, 63, 0.15);
    padding: 3rem;
    transition: .4s;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}

.nav__link {
  color: var(--text-color-light);
  font-weight: var(--font-semi-bold);
  text-transform: uppercase;
}

.nav__link:hover {
  color: var(--text-color);
}

.nav__close {
  position: absolute;
  top: .75rem;
  right: 1rem;
  font-size: 1.5rem;
  color: var(--title-color);
  cursor: pointer;
}

/* 3 tirets menu */
.show-menu {
  right: 0;
}

/* animation header */

.scroll-header {
  background-color: white;
  box-shadow: 0 0 4px rgba(14, 55, 63, 0.15);
}

.scroll-header .nav__logo,
.scroll-header .nav__toggle {
  color: var(--title-color);
}

/* liens actives */
.active-link {
  position: relative;
  color: var(--title-color);
}

.active-link::before {
  content: '';
  position: absolute;
  background-color: var(--title-color);
  width: 100%;
  height: 2px;
  bottom: -.75rem;
  left: 0;
}

/*------------HOME accueil---------*/
.home__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: 83%;
}

.home__container {
  position: relative;
  height: calc(100vh - var(--header-height));
  align-content: center;
  row-gap: 3rem;
}

.home__data-title{
  color: var(--white-color);
  font-size: var(--biggest-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-2-5);
}

/*----------bouttons----------*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: var(--white-color);
  padding: 1rem 2rem;
  font-weight: var(--font-semi-bold);
  transition: .3s;
  border-radius:30px;
}


/*------------footer-----------*/
footer{
  background: #ffffff;
  width: 100%;
  bottom: 0;
  left: 0;
}
footer .content{
  max-width: 1250px;
  margin: auto;
  padding: 30px 40px 40px 40px;
}
footer .content .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
.content .top .logo-details{
  color: #000;
  font-weight:bold;
  font-size: 30px;
}
.content .top .media-icons{
  display: flex;
}
.content .top .media-icons a{
  height: 40px;
  width: 40px;
  margin: 0 8px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #000;
  font-size: 17px;
  text-decoration: none;
  transition: all 0.4s ease;
}

footer .content .link-boxes{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer .content .link-boxes .box{
  width: calc(100% / 5 - 10px);
}
.content .link-boxes .box .link_name{
  color: var(--first-color);
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  position: relative;
}
.link-boxes .box .link_name::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 35px;
  background: #000;
  
}
.content .link-boxes .box li{
  margin: 6px 0;
  list-style: none;
  
}
.content .link-boxes .box li a{
  color:black;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.4s ease
}
.content .link-boxes .box li a:hover{
  opacity: 1;
  text-decoration: underline;
}
.content .link-boxes .input-box{
  margin-right: 55px;
}
.link-boxes .input-box input{
  height: 40px;
  width: calc(100% + 55px);
  outline: none;
  border: 2px solid #AFAFB6;
  background: gray;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  color:black;
  margin-top: 5px;
}
.link-boxes .input-box input::placeholder{
  color: white;
  font-size: 16px;
}
.link-boxes .input-box input[type="button"]{
  background: var(--first-color);
  color: white;
  border: none;
  font-size: 18px;
  font-weight: 500;
  margin: 4px 0;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.4s ease;
}
.input-box input[type="button"]:hover{
  opacity: 1;
}
footer .bottom-details{
  width: 100%;
  background: #1500b6;
}
footer .bottom-details .bottom_text{
  max-width: 1250px;
  margin: auto;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}
.bottom-details .bottom_text span,
.bottom-details .bottom_text a{
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}
.bottom-details .bottom_text a:hover{
  opacity: 1;
  text-decoration: underline;
}
.bottom-details .bottom_text a{
  margin-right: 10px;
}
@media (max-width: 900px) {
  footer .content .link-boxes{
    flex-wrap: wrap;
  }
  footer .content .link-boxes .input-box{
    width: 40%;
    margin-top: 10px;
  }
}
@media (max-width: 700px){
  footer{
    position: relative;
  }
  .content .top .logo-details{
    font-size: 26px;
  }
  .content .top .media-icons a{
    height: 35px;
    width: 35px;
    font-size: 14px;
    line-height: 35px;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 3 - 10px);
  }
  footer .content .link-boxes .input-box{
    width: 60%;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a{
    font-size: 12px;
  }
}
@media (max-width: 520px){
  footer::before{
    top: 145px;
  }
  footer .content .top{
    flex-direction: column;
  }
  .content .top .media-icons{
    margin-top: 16px;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 2 - 10px);
  }
  footer .content .link-boxes .input-box{
    width: 100%;
  }
}


/*---------pour scroller ---------*/
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  background-color: var(--first-color);
  padding: .5rem;
  display: flex;
  opacity: .9;
  z-index: var(--z-tooltip);
  transition: .4s;
}

.scrollup:hover {
  background-color: var(--first-color-alt);
  opacity: 1;
}

.scrollup__icon {
  color: var(--white-color);
  font-size: 1.2rem;
}

/* Show scroll */
.show-scroll {
  bottom: 5rem;
}

/*-------- SCROLL BAR -------*/
::-webkit-scrollbar {
  width: .60rem;
  background-color: var(--scroll-bar-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-color-light);
}

/*--------- MEDIA QUERIES ---------*/
/* For small devices */
@media screen and (max-width: 340px) {
  .place__container {
    grid-template-columns: max-content;
    justify-content: center;
  }
}

/* appareils tablettes */
@media screen and (min-width: 568px) {
  .place__container {
    grid-template-columns: repeat(3, max-content);
  }

}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__link {
    color: var(--white-color);
    text-transform: initial;
  }
  .nav__link:hover {
    color: var(--white-color);
  }
  .nav__menu {
    display: flex;
    column-gap: 1rem;
  }
  .nav__list {
    flex-direction: row;
    column-gap: 4rem;
  }
  .nav__toggle, .nav__close {
    display: none;
  }
  .active-link::before {
    background-color: var(--white-color);
  }
  .scroll-header .nav__link {
    color: var(--text-color);
  }
  .scroll-header .active-link {
    color: var(--title-color);
  }
  .scroll-header .active-link::before {
    background-color: var(--title-color);
  }
  .scroll-header .change-theme {
    color: var(--text-color);
  }
  .section {
    padding: 7rem 0 2rem;
  }
  .home__container {
    height: 100vh;
    grid-template-rows: 1.8fr .5fr;
  }
  .home__data {
    align-self: flex-end;
  }
  .home__info {
    bottom: 3rem;
  }
  .footer__rights {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* PC grands ecrans */
@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .home__container {
    grid-template-rows: 2fr .5fr;
  }
  .home__info {
    width: 328px;
    grid-template-columns: 1fr 2fr;
    column-gap: 2rem;
  }
  .home__info-title {
    font-size: var(--normal-font-size);
  }
  .home__info-img {
    width: 240px;
  }
  .footer__content {
    justify-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1024px;
  }
}

/* grands pc et pc */
@media screen and (min-height: 721px) {
  body {
    margin: 0;
  }
  .home__container, .home__img {
    height: 640px;
  }
}


/* ---------------------trombinoscope-------------- */
.section-trombino{
  /* display: flex;
  flex-direction: row;
  margin-top: 100px;
  margin-bottom: 25px;
  margin-left: 10px;
  margin-right: 10px; */
  margin-top: 125px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  /* border: 2px solid rgb(248, 235, 0); */
}

/* .section-trombino .wrapper{ */
  /* display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 70px 0;
  max-width: 400px;
  margin: 0 auto; */
  /* padding: 50px 0;
  width: 350px; */
  /* width:60%; */
  

/* } */

.section-trombino .menu{
  /* text-align: center; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 35px;
  margin-bottom: 50px;
  /* border: 2px solid rgb(38, 0, 255); */
}

.section-trombino .menu select{
  width: 100%;
  padding: 15px;
  font-size: 16px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  border: none;
  border-radius: 8px;
  border: 2px solid #3f51b5;
  appearance: none;
  background: #e8eaf6 url(../images/arrow.png) no-repeat;
  background-position: 96% 50%;
  background-size: 22px;
  cursor: pointer;
  margin-top: 10px;
}

.section-trombino .menu input{
  width: 100%;
  padding: 15px;
  font-size: 16px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  border: none;
  border-radius: 8px;
  border: 2px solid #3f51b5;
  appearance: none;
  background-position: 95% 50%;
  background-size: 22px;
  margin-top: 10px;
}

.section-trombino .menu .box_filter {
  /* border: 1px solid rgb(255, 30, 236); */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-trombino .menu .box_filter .service-icon {
  border-radius: 50%;
  color: black;
  background-color: #ececec;
  padding: 15px;
  text-align: center;
}

.section-trombino .menu .box_filter i {
  font-size: 25px;
}


@media (max-width: 768px) {
  .section-trombino .menu {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* ----------------------------------------- */

.container-trombino {
  /* width: 1200px;
  height: auto;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px,1fr));
  grid-gap: 10px;
  padding: 10px;
  box-sizing: border-box; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;
  /* margin: 0px auto; */
  /* margin-right: 15px; */
  /* padding: 10px; */
  /* box-sizing: border-box; */
  /* border: 2px solid red; */
}

.container-trombino .box {
  position: relative;
  background: rgb(233, 236, 239);
  padding: 30px 5px 40px;
  text-align: center;
  overflow: hidden;
  border-radius: 15px;

}

.container-trombino .box .image img {
  width: 100px;
  height: 100px;
  margin-top: 20px;
  border-radius: 5%;
  /* border: 3px solid rgb(0, 188, 212); */
}

.container-trombino .box .etu{
  font-size: 18px;
  font-weight: bold;
  color:#000;
}

.container-trombino .box h2 {
  font-size: 17px;
  opacity: .4;
  color: #17a2b8 !important;
}

@media (max-width: 1200px) {
  .container-trombino {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 992px) {
  .container-trombino {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .container-trombino {
    grid-template-columns: repeat(1, 1fr);
  }
}

/*pagination*/
.pagination {
  display: inline-block;
}

.pagination a {
  color: #ececec;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ececec;
  margin: 0 4px;
  }

.pagination a.active {
  background-color: #c9c9c9;
  color: rgb(0, 0, 0);
  border: 1px solid #c9c9c9;
}

.pagination a:hover:not(.active) {
  background-color: #c9c9c9;
  color: rgb(0, 0, 0);
}



/*connexion etu/ens*/

.section{
  position: relative;
  width: 100%;
  display: block;
}
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
  position: absolute;
  left: -9999px;
}
.checkbox:checked + label,
.checkbox:not(:checked) + label{
  position: relative;
  display: block;
  text-align: center;
  width: 60px;
  height: 16px;
  border-radius: 8px;
  padding: 0;
  margin: 10px auto;
  cursor: pointer;
  background-color: #9e9e9e;
}
.checkbox:checked + label:before,
.checkbox:not(:checked) + label:before{
  position: absolute;
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: #0084ff;
  background-color: #0084ff;
  font-family: 'unicons';
  content: '\eb4f';
  z-index: 20;
  top: -10px;
  left: -10px;
  line-height: 36px;
  text-align: center;
  font-size: 24px;
  transition: all 0.5s ease;
}
.checkbox:checked + label:before {
  transform: translateX(44px) rotate(-270deg);
}


.card-3d-wrap {
  position: relative;
  width: 440px;
  max-width: 100%;
  height: 400px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 800px;
  margin-top: 60px;
}
.card-3d-wrapper {
  width: 100%;
  height: 100%;
  position:absolute;    
  top: 0;
  left: 0;  
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: all 600ms ease-out; 
}
.card-front, .card-back {
  width: 100%;
  height: 100%;
  background-color: #9e9e9e;
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 300%;
  position: absolute;
  border-radius: 6px;
  left: 0;
  top: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.card-back {
  transform: rotateY(180deg);
}
.checkbox:checked ~ .card-3d-wrap .card-3d-wrapper {
  transform: rotateY(180deg);
}
.center-wrap{
  position: absolute;
  width: 100%;
  padding: 0 35px;
  top: 50%;
  left: 0;
  transform: translate3d(0, -50%, 35px) perspective(100px);
  z-index: 20;
  display: block;
}


.form-group{ 
  position: relative;
  display: block;
    margin: 0;
    padding: 0;
}
.form-style {
  padding: 13px 20px;
  padding-left: 55px;
  height: 48px;
  width: 100%;
  font-weight: 500;
  border-radius: 4px;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.5px;
  outline: none;
  color: #c4c3ca;
  background-color: #1f2029;
  border: none;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
}
.form-style:focus,
.form-style:active {
  border: none;
  outline: none;
  box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
}
.input-icon {
  position: absolute;
  top: 0;
  left: 18px;
  height: 48px;
  font-size: 24px;
  line-height: 48px;
  text-align: left;
  
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.form-group input:-ms-input-placeholder  {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input::-moz-placeholder  {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:-moz-placeholder  {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input::-webkit-input-placeholder  {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:focus:-ms-input-placeholder  {
  opacity: 0;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:focus::-moz-placeholder  {
  opacity: 0;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:focus:-moz-placeholder  {
  opacity: 0;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:focus::-webkit-input-placeholder  {
  opacity: 0;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

/*boutton soumettre*/

.btn{
  position: relative;
  display: block;
  color: white;
  font-size: 14px;
  font-family: "montserrat";
  text-decoration: none;
  margin: 30px 0;
  border: 2px solid #007cad;
  border-radius: 50px;
  padding: 14px 60px;
  text-transform: uppercase;
  overflow: hidden;
  transition: 1s all ease;
  margin-left:80px;
  margin-right:80px;
}
.btn::before{
  background: #0088ff;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
  transition: all 0.6s ease;
}

.btn1::before{
  width: 0%;
  height: 100%;
}

.btn1:hover::before{
  width: 100%;
}

/*inscription etu*/


/*formulaire*/
form {
  margin:  auto;
  text-align: center;
  position: relative;
  width:400px;
  padding-top:30px;
  padding-bottom:25px;
  padding-right:30px;
  margin-bottom:40px;
  padding-left:30px;
  background-color:#3e3e3e;
  border-radius:40px;
  }
    
  
form input {
   padding: 15px;
   border: 1px solid #fff;
   border-radius: 50px;
   margin-bottom: 10px;
   width: 100%;
   box-sizing: border-box;
   color: #ffffff;
  background: rgb(41 41 41 / 86%);   
  font-size: 13px;
}

form input:hover{
  background: rgb(115 115 115 / 86%);   
  transition: 1s;
}


form select{
  background: rgb(41 41 41 / 86%); 
  color:white;
  font-size:15px;
  border-radius:30px;
  border: 1px solid #fff;
}

form label{
  font-size:15px;
  color:white;
  
}

input[type="submit"]{
 cursor:pointer;
  background-color: #002bbd;
  border-radius:10px;
  width:110px;
}

input[type="submit"]:hover{
  background-color:#00c0ff;
  color:black;
}

.insc_etu{
  text-align: center;
  padding-bottom:30px;
  padding-top:30px;
  font-size:30px;
  color:black;
}

#insc_etu{
  text-align: center;
  padding-bottom:30px;
  padding-top:30px;
  font-size:30px;
  color:black;
}